body{
    background-image: url(Gelolgame.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size:100vw 51vw;
}
#wholegrid{
    display:grid;
    width: 83.6vw;
    height:1vw;
    margin-left: 5.9vw;
    margin-top: 4.3vw;
    grid-template-columns: 8.3vw;
    grid-template-rows: 6.2vw;
    justify-items: center;
}

button{
    background: transparent;
    border: none !important;
    font-size: 0;
    width: 8.3vw;
    height: 5.9vw;
    position: absolute;
}

button:hover{
    background: rgba(255,255,255,20%)
}

.vak {
    position: relative;
    width: 8.3vw;
    height: 6vw;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

#vak0{
    grid-column: 1;
    grid-row: 1;
    display: flex;
}

#vak1{
    grid-column: 2;
    grid-row: 1;
    display: flex;
}
#vak2{
    grid-column: 3;
    grid-row: 1;
    display: flex;
}
#vak3{
    grid-column: 4;
    grid-row: 1;
    display: flex;
}
#vak4{
    grid-column: 5;
    grid-row: 1;
    display: flex;
}
#vak5{
    grid-column: 6;
    grid-row: 1;
    display: flex;
}
#vak6{
    grid-column: 7;
    grid-row: 1;
    display: flex;
}
#vak7{
    grid-column: 8;
    grid-row: 1;
    display: flex;
}
#vak8{
    grid-column: 9;
    grid-row: 1;
    display: flex;
}
#vak9{
    grid-column: 10;
    grid-row: 1;
    display: flex;
}
#vak10{
    grid-column: 10;
    grid-row: 2;
    display: flex;
}
#vak11{
    grid-column: 10;
    grid-row: 3;
    display: flex;
}
#vak12{
    grid-column: 9;
    grid-row: 3;
    display: flex;
}
#vak13{
    grid-column: 8;
    grid-row: 3;
    display: flex;
}
#vak14{
    grid-column: 7;
    grid-row: 3;
    display: flex;
}
#vak15{
    grid-column: 6;
    grid-row: 3;
    display: flex;
}
#vak16{
    grid-column: 5;
    grid-row: 3;
    display: flex;
}
#vak17{
    grid-column: 4;
    grid-row: 3;
    display: flex;
}
#vak18{
    grid-column: 3;
    grid-row: 3;
    display: flex;
}
#vak19{
    grid-column: 2;
    grid-row: 3;
    display: flex;
}
#vak20{
    grid-column: 1;
    grid-row: 3;
    display: flex;
}
#vak21{
    grid-column: 1;
    grid-row: 4;
    display: flex;
}
#vak22{
    grid-column: 1;
    grid-row: 5;
    display: flex;
}
#vak23{
    grid-column: 2;
    grid-row: 5;
    display: flex;
}
#vak24{
    grid-column: 3;
    grid-row: 5;
    display: flex;
}
#vak25{
    grid-column: 4;
    grid-row: 5;
    display: flex;
}
#vak26{
    grid-column: 5;
    grid-row: 5;
    display: flex;
}
#vak27{
    grid-column: 6;
    grid-row: 5;
    display: flex;
}
#vak28{
    grid-column: 7;
    grid-row: 5;
    display: flex;
}
#vak29{
    grid-column: 8;
    grid-row: 5;
    display: flex;
}
#vak30{
    grid-column: 9;
    grid-row: 5;
    display: flex;
}
#vak31{
    grid-column: 10;
    grid-row: 5;
    display: flex;
}
#vak32{
    grid-column: 10;
    grid-row: 6;
    display: flex;
}
#vak33{
    grid-column: 10;
    grid-row: 7;
    display: flex;
}
#vak34{
    grid-column: 9;
    grid-row: 7;
    display: flex;
}
#vak35{
    grid-column: 8;
    grid-row: 7;
    display: flex;
}
#vak36{
    grid-column: 7;
    grid-row: 7;
    display: flex;
}
#vak37{
    grid-column: 6;
    grid-row: 7;
    display: flex;
}
#vak38{
    grid-column: 5;
    grid-row: 7;
    display: flex;
}
#vak39{
    grid-column: 4;
    grid-row: 7;
    display: flex;
}
#vak40{
    grid-column: 3;
    grid-row: 7;
    display: flex;
}
#vak41{
    grid-column: 2;
    grid-row: 7;
    display: flex;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background: radial-gradient(#4677ff, #6272ff);
    margin: auto;
    margin-top: 15%;
    padding: 5px 20px;
    border: 3px solid rgb(0, 0, 0);
    width: 80%;
    border-radius: 15px;
}

#modtext{
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#dice{
    display:flex;
    z-index: 200;
    background-color: rgb(204, 255, 251);
    border-radius:14px;
    border: 1px solid;
    background-image: url(Dice-6a.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    left: 10px;
    top: 10px;
    width: 4vw;
    height: 4vw;
}

#dicebut{
    z-index: -1;
    border-radius: 14px;
    border: none !important;
    font-size: 0;
    width: 4vw;
    height: 4vw;
}

#dicebut:hover{
    background: rgba(255,255,255,20%);
    border-radius: 10px;
}

.pawn{
    z-index: 2;
    width: 30px;
    height: 40px;
}

#amount{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgb(250, 242, 138),rgb(226, 197, 69));
    width: 16vw;
    border-radius: 15px;
    position: absolute;
    top:47%;
    left:40%;
    
}

input[type="number"]{
    width: 1.7vw;
    padding: 10px 10px;
    margin: 8px 5px;
    display: inline-block;
    align-self: center;
    border: 1px solid #ccc;
    color:#000;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

#inptext{
    font-family: Arial, Helvetica, sans-serif;
    color:#000;
    align-items: center;
    font-size: 18px;
}

#startbutton{
    background: rgb(161, 89, 255);
    color: black;
    height: 2vw;
    width: 4vw;
    position: relative;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

#startbutton:hover{
    background: linear-gradient(rgb(255, 99, 255), rgb(255, 88, 88));
}

#turntextdiv{
    left: 6.4vw;
    top:0.9vw;
    position: fixed;
}
#turntext{
    color: white;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
}
